.create-object-section .title{
    font-size: 40px;
    text-align: center;
    margin-top: 1%;
}

.create-object-section form{
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
}

.create-object-section form .input-title{
    width: 100%;
    height: 80px;
    font-size: 40px;
}

.create-object-section form pre textarea{
    width: 100%;
    height: 200px;
    font-size: 20px;
    margin-top: 1%;
    box-shadow: -2px 2px 13px;
}

.create-object-section form .upload-image{
    position: relative;
    margin-top: 3%;
}

.create-object-section form .upload-image div{
    background: rgb(177, 177, 177);
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.create-object-section form .upload-image .input-image{
    position: absolute;
    top: 0;
    width: 250px;
    height: 30px;
    opacity: 0;
}

.create-object-section form button{
    height: 30px;
    border: none;
    border-radius: 5px;
    background: green;
    color: white;
    margin-top: 3%;
    cursor: pointer;
}

.create-object-section form .error{
    color: red;
}