header{
    width: 100%;
    height: 60px;
    background-color: #15093cbf;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

header .container ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}

header .container ul li{
    margin: 0 10px;
}

header .container ul li a{
    text-decoration: none;
    color: inherit;
}