.login-section{
    display: block;
    width: 35%;
    height: 400px;
    margin: 40px 32.5% 0 32.5%;
    box-shadow: 1px 2px 11px 0;
    border-radius: 5px;
}

.login-section h2{
    height: 40px;
    line-height: 40px;
    background: rgb(172, 171, 171);
    border-radius: 5px 5px 0 0;
    text-indent: 5%;
}

.login-section .container form{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.login-section .container form .box{
    margin-top: 10px;
}

.login-section .container form .box:nth-child(4){
    display: flex;
    justify-content: space-between;
}

.login-section .container form .box .input-email{
    font-weight: 800;
    font-size: 15px;
}

.login-section .container form .box .input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid gray;
    margin-top: 5px;
}

.login-section .container form .box .forgot-password a{
    text-decoration: none;
    font-size: 15px;
}

.login-section .container form button{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: rgb(27, 75, 209);
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.5s ease;
}

.login-section .container form button:hover{
    background: #595757;
}

.login-section .create{
    text-align: center;
    margin-top: 50px;
}

.login-section .create a{
    text-decoration: none;
}

.login-section .container form .error{
    color: red; 
}